/* src/App.css */
.App{
  /* use some hacking font  */
  font-family: 'Source Code Pro', sans-serif;
  background-color: #333;

}
.fullscreen-section {
  height: 100vh;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 100px
  }

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #333;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.nav-links{
  margin-right: 100px;
}

.logo {
  margin-left: 100px;
  font-size: 40px;
  font-weight: bold;

  .rose-text {
    color: #deb2e4;
  }
  .rose-text:hover {
    color: rgb(97, 146, 195);
  }
  
  .blue-text {
    color: rgb(97, 146, 195);
  }
  .blue-text:hover {
    color: #deb2e4;
  }
}
.logo:hover {

  cursor: pointer;
  /* transform: scale(1.1); */

  .blue-text {
    color: #deb2e4;
  }
  
  .rose-text {
    color: rgb(97, 146, 195);
  }

}



.nav-links button {
  margin: 0 10px;
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
  color: rgb(97, 146, 195);
}

.nav-links button{
  transition: transform 0.3s ease;
}

/* Promenite boju teksta na hover */
.nav-links button:hover {
  color: #deb2e4;
  transform: scale(1.03);
  transition: transform 0.3s ease;
}

.small-text-font{
  font-size: 15px;
}

.small-heading-font{
  font-size: 25px;
}
.medium-heading-font{
  font-size: 50px;
}

.blue-text {
  opacity: 0.8;
  color: rgb(97, 146, 195);
}

.rose-text {
  opacity: 0.8;
  color: #deb2e4;
}
.small-card{
  background-color: rgba(255, 255, 255, 0.03);
  width: 200px;
  height: 250px;
  border-radius: 10px;
  margin: 20px;
  background-size: cover;

}

.medium-card{
  background-color: rgba(255, 255, 255, 0.03);
  width: 300px;
  height: 400px;
  border-radius: 10px;

  margin: 20px;
}

.big-card{
  background-color: rgba(255, 255, 255, 0.03);
  width: 500px;
  height: 600px;
  border-radius: 10px;
  margin: 20px;

}

.card-shadow-rose{
  box-shadow: 0 0 10px rgba(222, 178, 228, 0.5);
}

.card-hover-shadow-rose:hover{
  box-shadow: 0 0 20px rgba(222, 178, 228, 0.2);
}

.hover-scale-11 {
  /* Postavite početno stanje transformacije i tranzicije */
  transform: scale(1);
  transition: transform 0.3s ease;
}

.hover-scale-11:hover{
  transform: scale(1.1);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.hover-scale-102{
  /* Postavite početno stanje transformacije i tranzicije */
  transform: scale(1);
  transition: transform 0.3s ease;

}
.hover-scale-102:hover{
  cursor: pointer;
  transform: scale(1.02);
  transition: transform 0.3s ease;

}

.hover-scale-15{
  /* Postavite početno stanje transformacije i tranzicije */
  transform: scale(1);
  transition: transform 0.3s ease;

}
.hover-scale-15:hover{
  cursor: pointer;
  transform: scale(1.5);
  transition: transform 0.3s ease;

}

.hover-color-rose:hover{
  background-color: #deb2e4;
}

.hover-text-color-rose:hover{
  color: #deb2e4;
}

.hover-color-blue:hover{
  background-color: rgb(97, 146, 195);
}

.hover-text-color-blue:hover{
  color: rgb(97, 146, 195);
}